<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="BIT.PilotlessPlane.Client">
    <components>
      <component type="BIT.PilotlessPlane.Client.Views.MainForm" />
      <!--<component
          type="BIT.PilotlessPlane.Providers.Implement.SerialPort.SerialPortFrameProvider, BIT.PilotlessPlane.Providers.Implement.SerialPort"
          service="BIT.PilotlessPlane.Providers.Interface.IFrameProvider, BIT.PilotlessPlane.Providers.Interface">
        <parameters>
          <parameter name="portName" value="COM1" />
          <parameter name="baudRate" value="38400" />
          <parameter name="parity" value="None" />
          <parameter name="dataBits" value="8" />
          <parameter name="stopBits" value="One" />
        </parameters>
      </component>-->
    </components>
  </autofac>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
